html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f2f2f2;
}

body.white {
    background-color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {font-weight: 600;}

h1 {font-size: 1.5rem;}
h2 {font-size: 1.3rem; margin-bottom: 0;}
h3 {font-size: 1.1rem;}
h4 {font-size: 1rem;}
h5 {font-size: 0.9rem;}
h6 {font-size: 0.75rem;}

.container {
    padding-bottom: 15px;
}

hr {
    border: 0;
    height: 0;
    margin-bottom: 0;
    border-bottom: 1px solid #f0f0f0;
}

.btn-block {
    font-size: 15px;
	font-weight: 500;
    padding-top: 12px;
    padding-bottom: 12px;
}

/*------------------------ INPUTS ------------------------*/
.form-control {
    color: #000;
    padding-top: 11px;
    padding-bottom: 11px;
}

/*------------------------ SPLASH ------------------------*/

    .mask {
        background-color: #007bff;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100000;
        top: 0;
    }

        .loader {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }

        .welcome-container {
            display: table;
            width: 100%;
            height: 100%;
            min-height: 100%;
            text-align: center;
            color: #ffffff;
        }

            .welcome-container-inner {
                display: table-cell;
                vertical-align: middle;
            }

                h1.app-title {
                    font-size: 36px;
                    padding: 20px 0 10px;
                    font-family: 'Righteous', cursive;
                }

                .lead-title {
                    font-family: 'Montserrat';
                    font-size: 17px;
                    line-height: 23px;
                    font-weight: 300;
                    width: 330px;
                }

/*------------------------ NAVBAR ------------------------*/

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-link {
        padding-left: 20px;
    }

    .navbar-dark.bg-primary a,
    .navbar-dark .navbar-nav .nav-link {
        color: #fff;
    }

    .navbar .fa.fa-2x {
        color: #B4D1F9;
        font-size: 1.7rem;
    }

    .navbar-brand {
        width: 60%;
        margin-bottom: 0;
        font-family: Montserrat;
    	font-size: 19px;
    	font-weight: 600;
    	white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

/*------------------------ TABS ------------------------*/

    .main-nav {
        margin-bottom: 30px;
        box-shadow: 0px 2px 5px #444;
        top: 62px;
    }

        .nav-pills .nav-item {
            border-bottom: 0;
        }

            .nav-pills .nav-item .nav-link {
                border-radius: 0;
                border-bottom: 1px solid #e0e0e0;
                height: 100%;
                font-size: 13px;
                line-height: 16px;
                background-color: #fff;
                color: rgba(47,128,237,0.5);
                font-weight: 600;
            }


        .nav-pills .nav-item:not(first-child) {
            border-right: 1px solid #f0f0f0;
        }

        .nav-pills .nav-item .nav-link.active,
        .nav-pills .show>.nav-link {
            border-bottom: 2px solid #4B9CFC;
            color: #4B9CFC;
        }

/*------------------------ BUSCAR POR PELÍCULA ------------------------*/

    .buscador {
        width: 100%;
        padding: 20px 15px;
        background-color: #fff;
    }

    .owl-carousel {
        margin-bottom: 30px;
        padding-top: 15px;
        background-color: #fff;
    }

    .carousel-title {
        font-size: 15px;
    	font-weight: 700;
    	color: #000000;
        margin-top: 15px;
    }

    .movie-title {
        font-size: 13px;
        line-height: 16px;
    	font-weight: 500;
    	color: #000000;
        margin-top: 15px;
    }

    .item {
        display: block;
    }

        .item img {
            height: 170px;
            background-color: #eee;
            background-image: url('../img/movietracker-logo-blanco.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            box-shadow: 0 3px 10px #aaa;
            border-radius: 4px;
            max-width: 120px;
        }

/*------------------------ BUSCAR POR CINE ------------------------*/

    .founded-title {
        font-size: 15px;
        font-weight: 600;
    }

        .founded-title .fa {
            color: #828282;
        }

/*------------------------ MAPA ------------------------*/

    .map {
        width: 100vw;
        height: 255px;
        display: block;
    }

    .option-list {
        list-style: none;
        padding: 0 15px 10px;
        margin: 0;
        color: #828282;
        background-color: #fff;

    }

        .option-list li {
            display: inline-block;
            width: 32%;
            text-align: center;
            font-size: 13px;
            font-weight: 500;
        }

/*------------------------ LISTADOS ------------------------*/

.listado {
    background-color: #fff;
    padding-top: 15px;
}

.media {
    padding: 10px 0;
    border-bottom: 1px solid #f0f0f0;
    position: relative;
}

.media.disabled {
    opacity: 0.3;
}

.media img {
    width: 48px;
    height: 48px;
    border: 0;
    border-radius: 4px;
    background-color: #eee;
    background-image: url('../img/movietracker-logo-blanco.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    margin-top: .2rem;
}

a.media {
    color: #212529;
}

a.media:after {
    content: '\f105';
    width: 12px;
    font-family: FontAwesome;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 27px;
    color: #ccc;
}

.media-body {
    margin-top: 0.5rem;
}

.media-body h5 {
    margin-bottom: 0.2rem;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.media-body p {
    width: 75%;
    font-size: 13px;
    color: #828282;
    margin-bottom: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge {
    position: absolute;
    right: 0;
    top: 21%;
    font-size: 13px;
    font-weight: 600;
}

.badge.badge-secondary {
    background-color: transparent;
    color: inherit;
}

/*------------------------ PELÍCULAS ------------------------*/

.fanart {
    position: relative;
    height: 165px;
    width: 100%;
    background-color: #ccc;
    background-image: url('../img/movietracker-logo-blanco.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    overflow: hidden;
}

.fanart .container {
    position: absolute;
    top: 15px;
    z-index: 9;
}

.fanart img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
}

.fanart h1 {
    color: #fff;
    font-size: 21px;
    font-weight: 500;
}

.movie-description {
    background-color: #fff;
    font-size: 15px;
    line-height: 23px;
    color: #000;
    padding-top: 15px;
}

.movie-description .cast {
    font-size: 13px;
    line-height: 19px;
}

a[data-toggle="collapse"] {
    position: relative;
    float: right;
}

.fecha, .horario, .eleccion-butacas {
	font-size: 15px;
    padding-top: 15px;
	font-weight: 600;
	color: #000000;
}

.fecha .fa {
    color: #828282;
}

.seleccionar-fecha {
    padding: 15px;
    background-color: #fff;
    margin-bottom: 35px;
    position: relative;
}

.seleccionar-fecha i {
    position: absolute;
    right: 30px;
    top: 25px;
    color: #2f80ed;
}

.seleccionar-fecha .card {
    padding: 10px 15px;
    box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.15);
	border: solid 1px #e0e0e0;
    color: #000000;
    font-size: 15px;
}

.datepicker {
    width: 92%;
    left: 15px !important;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.datepicker table {
    width: 100%;
}

.listado-cines {
    background-color: #ffffff;
}


.detalle-container {
    margin-top: -15px;
    background-color: #fff;
    padding-top: 15px;
}

.detalle-seleccion h2 {
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.detalle-seleccion small {
    font-size: 13px;
    color: #828282;
    margin-bottom: 0.2rem;
}

.detalle-seleccion .fecha,
.detalle-seleccion .horario,
.detalle-seleccion .eleccion-butacas {
    padding-top: 0;
    font-weight: 500;
}

.container-title {
    padding-top: 30px;
    padding-bottom: 5px;
}

.container-title label {
    width: 100%;
    margin-bottom: 0;
}

.container-title .fa {
    color: #828282;
}

.container.botones {
    padding-top: 30px;
}

.seleccion h3, .butacas h3, .checkout h3 {
    font-size: 15px;
    font-weight: 600;
    font-size: 15px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 2px;
}

.seleccion span {
    font-size: 15px;
    color: #000;
}

.seleccion .precio {
    font-size: 17px;
    color: #000;
}



.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 4px 0 0 4px;
}

.form-control-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
    padding: 0.3rem 1rem;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    box-shadow: inset 0 0 5px #eee;
}

.input-group-btn .btn-secondary {background-color: transparent; color: #ced4da; border-color: #ced4da;}



.form-check {
    border-bottom: 1px solid #f0f0f0;
    margin-bottom: 0;
    padding: 15px 0;
}

.form-check:first-child {
    padding: 0 0 15px;
}

.form-check:last-child {
    border-bottom: none;
    padding: 15px 0 0;
}

.form-check h4 {
    margin: 0;
    font-size: 15px;
    font-weight: 500;
    color: #000;
}

.form-check-label .info {
    font-size: 13px;
}

.form-check-label .info strong {
    font-weight: 600;
}

.form-check-label .info,
.form-check-label .info .fa{
    color: #56CCF2;
}

.form-check .badge {
    //top: -9%;
}



.welcome-container.ingresar {
    color: inherit;
}

.ingresar img {
    padding: 1rem;
}

.container-eticket {
    margin-top: 15px;
}

.container-eticket h2 {
    margin-bottom: 15px;
    font-size: 19px;
    font-weight: 600;
}

.container-eticket h3 {
    font-size: 15px;
    color: #000;
    font-weight: 500;
}

.container-eticket p {
    font-size: 15px;
    line-height: 21px;
}

.container-eticket .btn-group {
    border-top: 1px solid #e0e0e0;
}

.container-eticket .btn-group a {
    width: 50%;
    padding: 10px 0;
}

.container-eticket .btn-group a:first-child {
    border-right: 1px solid #f0f0f0;
}















.card .fanart {
    margin-top: 45px;
}

.card.eticket {
    border-radius: 10px;
}

.card.eticket:before {
    content: '';
    width: 50px;
    height: 24px;
    background: #f2f2f2;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.elegir-butacas {
    background-color: #ffffff;
}

.detalle-seleccion,
.elegir-butacas {
    margin-top: 15px;
}

.detalle-seleccion .fa,
.elegir-butacas .fa {
    color: #828282;
}

.elegir-butacas span {
    font-size: 70%;
}

.elegir-butacas .ocupado .fa{
    color: #ccc;
}

.elegir-butacas .disponible .fa{
    color: #007bff;
}

.elegir-butacas .seleccionado .fa{
    color: #007bff;
}

.table thead th {
    border: none;
}

.table td, .table th {
    padding: 0.15rem 0;
    border: none;
}

.table-butacas {
    margin-top: 15px;
    padding: 1rem 0;
    //border-radius: 4px;
    //border: 1px solid #ccc;
}

.screen {
    background-color: #eee;
    text-align: center;
    font-size: 75%;
    margin: 0 .25rem;
}

.custom-control {
    margin-right: .5rem;
    padding-left: 1rem;
    display: block;
    width: 2.5rem;
    text-align: center;
}

.custom-control-indicator {
    width: 2rem;
    height: 1.5rem;
    padding: .25rem;
    left: .25rem;
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
    background-image: none;
}

.custom-control-input:disabled~.custom-control-indicator {
    background-color: #ccc;
    border: 1px solid #ccc;
    color: #fff;
}

.login, .register {
    margin-top: 15px;
}

.register label {
    font-size: 15px;
    color: #4f4f4f;
}

.register .form-group {
    margin-bottom: 25px;
}

.register .form-control {
    font-size: 15px;
}

.register span {
    font-size: 13px;
	color: #828282;
}

.form-check-label small {
    font-size: 13px;
    line-height: 19px;
    color: #000;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

/* Distancias */

/*.near {color: #ccc !important;}
.halfway {color: #ccc !important;}
.far {color: #ccc !important;}*/

.ingresar h2 {
    font-size: 21px;
    margin-top: 30px;
    font-weight: 600;
}

.ingresar p {
    font-size: 15px;
    color: #000;
    margin-top: 5px;
}


.bg-info {
    border-radius: 4px;
    border: 1px solid #56CCF2;
    background-color: rgba(86, 204, 242, 0.3) !important;
    padding: 5px;
}

.bg-info small {
    font-size: 13px !important;
    line-height: 16px;
}

.qr-code {
    padding: 1rem;
}

.tooltip-ticket {
    position: absolute;
    bottom: -20px;
    background-color: #eefafe;
    border: 1px solid #ccf0fb;
    border-radius: 5px;
    right: 15px;
    padding: 5px;
    font-size: 13px;
    color: #000;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.1);
}

.tooltip-ticket:before {
    content: '';
    position: absolute;
    right: 5px;
    top: -10px;
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 10px solid #eefafe;
}

.info-proximamente {
    border-radius: 4px;
	background-color: #eefafe;
    border: 1px solid #ccf0fb;
    font-size: 13px;
    line-height: 17px;
	color: #000000;
    padding: 10px;
}

.img-perfil {
    width: 92px;
    margin: 45px auto 10px;
    display: block;
}

.nombre-perfil {
    font-size: 19px;
	font-weight: 500;
    text-align: center;
    margin-bottom: 25px
}

.no-logueado .nombre-perfil {
    color: #b2b2b2;
}

.logueado .nombre-perfil {
    color: #000000;
}

.seccion-perfil {
    border-top: 1px solid #b2b2b2;
}

.seccion-perfil a {
    position: relative;
    padding: 25px 15px;
    display: block;
    font-size: 15px;
	font-weight: 500;
	color: #000000;
    border-bottom: 1px solid #b2b2b2;
}

.logueado .seccion-perfil a:after {
    position: absolute;
    content: '\f105';
    font-family: 'FontAWesome';
    right: 15px;
    top: 30%;
    color: #ccc;
    font-size: 20px;
}

.seccion-perfil .fa {
    color: #828282;
    padding: 0 20px 0 5px;
}

.ntc-container .btn {
    margin-bottom: 15px;
}

.no-tengo-cuenta {
    margin-bottom: 30px;
}

.fb-container {
    color: #007bff;
}

.fb-container  p {
    font-size: 13px;
}

.bg-facebook {
    background-color: #3B5998;
}

.fb-brand {
    font-family: arial, sans-serif;
    font-size: 16px;
    color: #fff;
    font-weight: normal;
    margin-top: .5rem;
}
