html, body {
  height: 100%;
}

.welcome-container {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  text-align: center;
}

.welcome-container-inner {
  display: table-cell;
  vertical-align: middle;
}

.container {
    padding-bottom: 15px;
}

/* Navbar */
.navbar {
    box-shadow: 0px 1px 10px #999;
}

h1.navbar-brand {
    margin-bottom: 0;
}

.navbar-nav {
    flex-direction: row;
}

.navbar-nav .nav-link {
    padding-left: 15px;
}

/* Tabs */

.nav {
    margin-top: 15px;
}

.nav-pills .nav-link {
    background-color: #eee;
}

/* Slider */

.item {
    display: block;
}

.item img {
    height: 10rem;
    background-color: #ccc;
    border: 1px solid #aaa;
    background-image: url('../img/movietracker-logo-blanco.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
}

.media {
    border-bottom: 1px solid #ccc;
    position: relative;
}

.media img {
    width: 40px;
    height: 40px;
    border: 1px solid #000;
    background-color: #ccc;
    background-image: url('../img/movietracker-logo-blanco.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    margin-top: 1rem;
}

.media:after {
    content: '\f105';
    width: 12px;
    font-family: FontAwesome;
    font-size: 36px;
    line-height: 1.7;
    position: absolute;
    right: 0;
    top: 0;
}

.media .badge {
    position: absolute;
    right: 20px;
    top: 30%;
}

.badge.badge-secondary {
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: inherit;
}

.map {
    height: 255px;
    margin-bottom: 15px;
}

.fanart {
    position: relative;
    height: 165px;
    width: 100%;
    background-color: #ccc;
    background-image: url('../img/movietracker-logo-blanco.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
}

.btn-collapse {
    position: relative;
    margin: -20px auto 20px;
    border-radius: 25px;
    height: 42px;
}

.seleccionar-fecha {
    padding: 15px 0 0;
    margin-bottom: 15px;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
}
