html, body {
  height: 100%;
  font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f2f2f2;
}

h1, h2, h3, h4, h5, h6 {font-weight: 600;}

h1 {font-size: 1.5rem;}
h2 {font-size: 1.3rem; margin-bottom: 0;}
h3 {font-size: 1.1rem;}
h4 {font-size: 1rem;}
h5 {font-size: 0.9rem;}
h6 {font-size: 0.75rem;}

.container {
    padding-bottom: 15px;
}

/*------------------------ INPUTS ------------------------*/
.form-control {
    color: #000;
}

/*------------------------ SPLASH ------------------------*/

    .mask {
        background-color: #007bff;
        width: 100%;
        height: 100%;
        position: fixed;
        z-index: 100000;
        top: 0;
    }

        .loader {
            height: 100%;
            width: 100%;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%,-50%);
        }

        .welcome-container {
            display: table;
            width: 100%;
            height: 100%;
            min-height: 100%;
            text-align: center;
            color: #ffffff;
        }

            .welcome-container-inner {
                display: table-cell;
                vertical-align: middle;
            }

                h1.app-title {
                    font-size: 36px;
                    padding: 20px 0 10px;
                    font-family: 'Righteous', cursive;
                }

                .lead-title {
                    font-family: 'Montserrat';
                    font-size: 17px;
                    line-height: 23px;
                    font-weight: 300;
                    width: 330px;
                }

/*------------------------ NAVBAR ------------------------*/

    .navbar-nav {
        flex-direction: row;
    }

    .navbar-nav .nav-link {
        padding-left: 20px;
    }

    .navbar-dark.bg-primary a,
    .navbar-dark .navbar-nav .nav-link {
        color: #fff;
    }

    .navbar .fa.fa-2x {
        color: #B4D1F9;
        font-size: 1.7rem;
    }

    .navbar-brand {
        width: 60%;
        margin-bottom: 0;
        font-family: Montserrat;
    	font-size: 19px;
    	font-weight: 600;
    	white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

/*------------------------ TABS ------------------------*/

    .main-nav {
        margin-bottom: 30px;
        box-shadow: 0px 1px 10px #444;
        position: sticky;
        top: 62px;
        z-index: 9;
    }

        .nav-pills .nav-item {
            border-bottom: 0;
        }

            .nav-pills .nav-item .nav-link {
                border-radius: 0;
                border-bottom: 2px solid transparent;
                height: 100%;
                font-size: 13px;
                line-height: 16px;
                background-color: #fff;
                color: rgba(47,128,237,0.5);
            }


        .nav-pills .nav-item:not(first-child) {
            border-right: 1px solid #f0f0f0;
        }

        .nav-pills .nav-item .nav-link.active,
        .nav-pills .show>.nav-link {
            border-bottom: 2px solid #4B9CFC;
            color: #4B9CFC;
        }

/*------------------------ BUSCAR POR PELÃCULA ------------------------*/

    .buscador {
        width: 100%;
        padding: 20px 15px;
        background-color: #fff;
    }

    .owl-carousel {
        margin-bottom: 30px;
        padding-top: 15px;
        background-color: #fff;
    }

    .carousel-title {
        font-size: 15px;
    	font-weight: 600;
    	color: #000000;
        margin-top: 15px;
    }

    .movie-title {
        font-size: 13px;
        line-height: 16px;
    	font-weight: 500;
    	color: #000000;
        margin-top: 15px;
    }

    .item {
        display: block;
    }

        .item img {
            height: 170px;
            background-color: #eee;
            background-image: url('../img/movietracker-logo-blanco.svg');
            background-repeat: no-repeat;
            background-position: center;
            background-size: 50%;
            box-shadow: 0 3px 10px #aaa;
            border-radius: 4px;
            max-width: 120px;
        }
















.input-group .form-control:not(:first-child):not(:last-child),
.input-group-addon:not(:first-child):not(:last-child),
.input-group-btn:not(:first-child):not(:last-child) {
    border-radius: 4px 0 0 4px;
}

.form-control-lg,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn {
    padding: 0.3rem 1rem;
}

.input-group .form-control,
.input-group-addon,
.input-group-btn {
    box-shadow: inset 0 0 5px #eee;
}

.input-group-btn .btn-secondary {background-color: transparent; color: #ced4da; border-color: #ced4da;}



.form-check {
    border-bottom: 1px solid #eee;
}

.form-check:last-child {
    border-bottom: none;
}

.form-check h4 {margin: 0;}

.form-check-label .info,
.form-check-label .info .fa{
    color: #56CCF2;
}



.welcome-container.ingresar {
    color: inherit;
}

.ingresar img {
    padding: 1rem;
}



.container-eticket {
    margin-top: 15px;
}










.media {
    padding: 10px 0;
    border-bottom: 1px solid #eee;
    position: relative;
}

.media img {
    width: 48px;
    height: 48px;
    border: 1px solid #eee;
    background-color: #eee;
    background-image: url('../img/movietracker-logo-blanco.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    margin-top: .2rem;
}

a.media {
    color: #212529;
}

a.media:after {
    content: '\f105';
    width: 12px;
    font-family: FontAwesome;
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 27px;
    color: #ccc;
}

.media-body {
    margin-top: 0.5rem;
}

.media-body h5 {
    margin-bottom: 0;
}

.media-body p {
    width: 75%;
    font-size: 0.75rem;
    margin-bottom: 0.2rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.badge {
    position: absolute;
    right: 0;
    top: 21%;
    font-size: .85rem;
    font-weight: 600;
}

.badge.badge-secondary {
    background-color: transparent;
    color: inherit;
}

.map {
    width: 100vw;
    height: 255px;
    margin-bottom: 15px;
    display: block;
}

.fanart {
    position: relative;
    height: 165px;
    width: 100%;
    background-color: #ccc;
    background-image: url('../img/movietracker-logo-blanco.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 10%;
    overflow: hidden;
}

.fanart .container {
    position: absolute;
    top: 15px;
    z-index: 9;
}

.fanart img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    width: 100%;
}

.fanart h1 {
    color: #fff;
    font-weight: 400;
}

.card .fanart {
    margin-top: 45px;
}

.card.eticket:before {
    content: '';
    width: 50px;
    height: 24px;
    background: #fff;
    border-bottom: 1px solid rgba(0,0,0,.125);
    border-left: 1px solid rgba(0,0,0,.125);
    border-right: 1px solid rgba(0,0,0,.125);
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    position: absolute;
    top: -1px;
    left: 0;
    right: 0;
    margin: 0 auto;
}

.btn-collapse {
    position: relative;
    margin: -20px auto 20px;
    border-radius: 25px;
    height: 42px;
    box-shadow: 0 4px 10px #eee;
}

.seleccionar-fecha {
    margin-bottom: 15px;
    box-shadow: 0 1px 10px #444;
}

.detalle-seleccion,
.elegir-butacas {
    margin-top: 15px;
}

.detalle-seleccion .fa,
.elegir-butacas .fa {
    color: #215AA6;
}

.elegir-butacas span {
    font-size: 70%;
}

.elegir-butacas .ocupado .fa{
    color: #007bff;
}

.elegir-butacas .disponible .fa{
    color: #ddd;
}

.elegir-butacas .seleccionado .fa{
    color: #007bff;
}

.table thead th {
    border: none;
}

.table td, .table th {
    padding: 0.15rem 0;
    border: none;
}

.table-butacas {
    margin-top: 15px;
    padding: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.screen {
    background-color: #eee;
    text-align: center;
    font-size: 75%;
    margin: 0 .25rem;
}

.custom-control {
    margin-right: .5rem;
    padding-left: 1rem;
    display: block;
    width: 2.5rem;
    text-align: center;
}

.custom-control-indicator {
    width: 2rem;
    height: 1.5rem;
    padding: .25rem;
    left: .25rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-indicator {
    background-image: none;
}

.custom-control-input:disabled~.custom-control-indicator {
    background-color: transparent;
    border: 1px solid #007bff;
    color: #007bff;
}

.login, .register {
    margin-top: 15px;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
}

/* Distancias */

/*.near {color: #ccc !important;}
.halfway {color: #ccc !important;}
.far {color: #ccc !important;}*/




.bg-info {
    border-radius: 4px;
    border: 1px solid #56CCF2;
    background-color: rgba(86, 204, 242, 0.3) !important;
}

.qr-code {
    padding: 1rem;
}
